<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kanye Rest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      body{
        background : url('assets/kanyeRest.jpg');
      }
    </style>
  </head>
  <body>
    <div class="container rounded-pill bg-primary text-white bg-opacity-100 mt-5" style="height: 150px;">
      <div class="p-4">
        <h1 class="h1">Kanye Rest says</h1>
        <%=kanyeQuote %>
      </div>
    </div>
    <div class="mx-auto mt-4" style="height:40px;width:40px;">
      <form action="/" method="get">
        <input type="submit" class="btn btn-warning" value="OK">
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
